.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #CD0404;
    height: 10rem;
}

.header__heading {
    font-size: 64px;
    cursor: default;
    padding-bottom: 10px;
}

.header__heading--small {
    font-size: 64px;
    cursor: default;
    display: none;
    padding-bottom: 10px;
}

.header__burger {
    height: 80px;
    cursor: pointer;
}

.header__search {
    position: relative;
}

.header__search--input {
    border: none;
    padding-left: 8px;
    height: 48px;
    border-radius: 40px;
    background-color: #A49A9A;
}

.header__search--input::placeholder {
    color: black;
}

.header__search--input--magnifying-glass {
    display: inline;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 17px;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .header__heading--small {
        display: inline;
    }

    .header__burger {
        height: 60px;
    }

    .header__heading {
        display: none;
    }

    .header__search--input {
        margin-right: .5rem;
        width: 40px;
        transition: width .3s;
    }

    .header__search--input::placeholder {
        color: transparent;
    }

    .header__search--input:hover {
         width: 140px;
    }
  }