.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #CD0404;
    height: 10rem;
}

.header__heading {
    font-size: 64px;
    cursor: default;
}

.header__heading--small {
    font-size: 64px;
    cursor: default;
    display: none;
}

.header__burger {
    height: 80px;
    cursor: pointer;
}

.header__search {
    position: relative;
}

.header__search--input {
    border: none;
    text-align: end;
    padding-right: 8px;
    height: 48px;
    width: 140px;
    border-radius: 40px;
    background-color: #A49A9A;
}

.header__search::placeholder {
    color: white;
}

@media only screen and (max-width: 600px) {
    .header__heading--small {
        display: inline;
    }

    .header__heading {
        display: none;
    }

    .header__search--input {
        margin-right: .5rem;
    }
  }