.favImg{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.favourite_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 400px;
}