.favImg{
    width: 300px;
    height: 450px;
}

.favourite_article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 350px;
    background-color: rgb(176, 27, 27);
    box-shadow: -1px 2px 29px 0px rgba(0, 0, 0, 0.62);
    padding: 20px 0;
}

@media only screen and (max-width: 350px) {
    .favImg{
        width: 200px;
        height: 350px;
    }
}