.movie--list {
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.movie--list__img {
    width: 80px;
    margin-right: .3rem;
}

.movie--list__title {
    font-size: 14px;
}

.movie--list__genre {
    font-size: 14px;
}