.categories{     
    display: flex;     
    flex-direction: column; 
    background-color: #8A0404;
}

.div--genre{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div--genre__header{

}