.category{
    display: flex;
    flex-direction: column;
    height: 16.5rem;
    width: 11rem;
    background-color: rgb(176, 27, 27);
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    line-height: .8rem;
    margin: .5rem;
    padding: .5rem;
    text-wrap: wrap;
    text-align: center;
}

.category:hover{
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
  }

.category__article{
    height: 13rem;
    width: 10rem;
    background-color: aquamarine;
    margin: .5rem;
    align-items: center;
    justify-content: center;
}

.category__article__img{
    height: 13rem;
    width: 10rem;

}

.category__div{
    margin-left: 1rem;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    /* flex-wrap:wrap; */
}

